:root{
  font-size: 62.5%
}

body{
  font-size: 1.6rem;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
}
.title > img {
  width: 45vw;
  margin: auto;
}

.author {
 text-align: center;
 font-family:  "Courier", "monospace";
 color: #b0d3f5;
 width: 250px;
 background-color:rgba(7, 17, 22, 0.863);
 padding: 10px;
}

.author>a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (orientation: portrait) {
  .title {
    width: 85vw;
  }

}